<div class="dashboard-section dashboard-stats-section" data-section="users">
  <h3>Clients</h3>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.company %></li>
    <% end %>
  </ul>
</div>
