<div class="dashboard-section dashboard-promos-section" data-section="promos">
  <h3>Promos</h3>
  <%= link_to 'Ajouter un promo', new_promo_path %>
  <br>
  <br>
  <ul>
    <% @promos.each do |promo| %>
      <li><%= link_to promo.title, promo_path(promo) %> -
        <%= link_to "Supprimer cette poduit", promo_path(promo), :method => :delete, :data => {:confirm => "Veux-tu vraiment supprimer cete promo Jano?"}, class: 'action-btn red-btn' %> -
        <%= link_to "Modifier promo", edit_promo_path(promo) %></li>
    <% end %>
  </ul>
</div>
