<div class="dashboard-section dashboard-categories-section" data-section="categories">
  <h3>Categories</h3>
  <%= link_to 'Ajouter une categorie', new_category_path %>
  <br>
  <br>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category) %> -
        <%= link_to "Supprimer cete categorie", category_path(category), :method => :delete, :data => {:confirm => "Veux-tu vraiment supprimer cette categorie Jano?"}, class: 'action-btn red-btn' %> -
        <%= link_to "Modifier cette categorie", edit_category_path(category) %></li>
    <% end %>
  </ul>
</div>
