<% if @message.valid? %>
  var formContainer = document.querySelector('.form-container')
  formContainer.innerHTML = `
  <div class="thanks-message-container">
    <p id="thanks-message">Merci pour votre message!
    Nous reviendrons vers vous dans les plus brefs délais</p>
    <a href="#" class="send-new-message loxam-btn">Envoyer un autre message</a>
  </div>`;
<% else %>

  function erros(field, messageError) {
    var fieldError = document.getElementById(`${field}-error`);
    fieldError.innerText = messageError;
    fieldError.style.color = 'rgb(225, 12, 34)';
    document.querySelector(`.message_${field} label`).style.color = 'rgb(225, 12, 34)';
    document.getElementById(`message_${field}`).style.borderColor = 'rgb(225, 12, 34)';
  }

  function noErros(field) {
    document.getElementById(`${field}-error`).innerText = '';
    document.querySelector(`.message_${field} label`).style.color = '#000000';
    document.getElementById(`message_${field}`).style.borderColor = '#ccc';
  }

  <% if @message.errors[:name][0].nil? %>
    noErros('name');
  <% else %>
    erros('name', '<%= @message.errors[:name][0] %>');
  <% end %>

  <% if @message.errors[:email][0].nil? %>
    noErros('email');
  <% else %>
    erros('email', '<%= @message.errors[:email][0] %>');
  <% end %>

  <% if @message.errors[:content][0].nil? %>
    noErros('content');
  <% else %>
    erros('content', '<%= @message.errors[:content][0] %>');
  <% end %>

<% end %>
