.loxam-types-container {
  margin: 0 -15px 45px -15px;
  h1 {
    text-align: center;
    margin: 0 0 35px 0;
    font-size: 28px;
    padding: 10px;
    color: $loxam-color;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  };
  .col-xs-12 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  };
}

.loxam-types-container a {
  border: 1px solid transparent;
  &:hover {
    border-color: $loxam-color;
  };
  img {
    height: 150px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    border-radius: 2px;
  }
}

.title-les-plus-recherchés {
  color: $loxam-color;
  font-size: 28px;
  text-align: center;
  margin: 0 0 10px 0;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 2px;
}

.contact-column {
  position: sticky;
  top: 0;
  padding-bottom: 10px;
}

.contact-container, .promo-container {
  background-color: #fff;
  padding: 35px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 2px;
}

.contact-container, .promo-container {
  margin-right: -15px;
}

.promo-container, .row-les-nouveautes {
  margin-top: 50px;
}

@media screen and (max-width: 991px) {
  .main-container {
    position: relative;
    top: 100px;
  };
  .col-product-card, .col-best-searches {
    margin-top: 50px;
  };
  .contact-column {
    position: static;
  };
  .col-product-card {
    margin-top: 10px;
  }
}
