.container-product {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 3px;
  h2 {
    text-align: center;
    color: #fff;
    font-size: 28px;
    padding: 10px;
    margin: 10px 0 60px 0;
    background-color: $loxam-color;
    border-radius: 3px;
  };
  .row-presentation-product {
    display: flex;
    align-items: center;
    justify-content: center;
    .image-col {
      text-align: center;
    }
  };
}

.message-form-product-page {
  margin: 60px auto;
  h3 {
    margin-top: 0;
    font-size: 22px;
    background-color: $loxam-color;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
  };
  #message_content {
    height: 200px;
  }
}

.container-expendables {
  margin: 60px auto;
  h3 {
    margin-top: 0;
    font-size: 22px;
    background-color: #c2c4c6;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
  }
}
