/// Materiels section
.product-box-dashboard {
  height: 320px;
  background-color: $light-gray;
  padding: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 2px;
  .product-img-dashboard {
    height: 70%;
    background-size: cover;
    background-position: center;
  };
}

.fa-trash, .fa-edit {
  font-size: 18px;
  border: 1px solid $loxam-color;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  background-color: $loxam-color;
  position: absolute;
  right: 15px;
  &:hover {
    color: $loxam-color;
    background-color: #fff;
  }
};

.fa-edit {
  right: 45px;
  top: 15px;
}

.row-product-form {
  display: none;
}

#add-product {
  font-size: 28px;
  cursor: pointer;
  color: $loxam-color;
  transition: all 0.3s;
  &:hover {
    transform: rotate(90deg);
  }
}

.add-a-product-title {
  text-align: center;
  margin-bottom: 50px;
}

.product-card-dashboard {
  font-size: 14px;
  text-align: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .product-card-image {
    height: 35%;
  };
  .card-infos {
    height: auto;
  };
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 5px 0;
    }
  }
}

.pop-up-product {
  display: none;
  position: fixed;
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(100,100,100,0.1);
  z-index: 9;
  background-color: $light-gray;
  top: 0;
  right: 5%;
  left: 5%;
  width: 90%;
  border: 1px solid #ccc;
}

.pop-up-product-active {
  display: block;
}

.fa-edit {
  cursor: pointer;
}

.close-popup {
  margin: 15px;
  font-size: 32px;
  color: $loxam-color;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
