.row-products-dashboard {
  h3:first-child {
    background-color: $light-gray;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 35px;
  };
  .form-group {
    margin-top: 0;
  };
}

.card-infos-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  .form-control {
    height: 22px;
    font-size: 12px;
  }
}

.row-product-dashboard {
  background-color: $light-gray;
  margin: 5px 0;
  padding: 5px;
  .form-group {
    margin-top: 0;
  };
  .form-control, .loxam-btn {
    font-size: 14px;
    height: 28px;
  }
  .fa-trash {
    position: static;
    font-size: 14px;
  };
  .simple_form {
    font-size: 14px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  };
}

#notif {
  background-color: darkseagreen;
  border-radius: 2px;
}
