<div id="toggle-categories-arrow"><span>Categories <i class="fa fa-arrow-right"></i></span></div>
<div class="container catgories-container">
  <div class="tags-catgories-container">
    <% @categories.each do |category| %>
      <%= link_to category_products_path(category.name), class: ((@category == category || @product && @product.category == category) ? 'category-tag tag-actif' : 'category-tag') do %>
        <%= category.name.upcase %>
      <% end %>
    <% end %>
  </div>
</div>
  <div class="tags-catgories-container-small-screen">
    <ul>
      <% @categories.each do |category| %>
        <li class="category-tag-small-screen"><%= link_to category_products_path(category.name) do %>
        <%= category.name.upcase %>
      <% end %></li>
      <% end %>
    </ul>
  </div>
</div>
