<div class="container container-conditions-generales-de-location">
  <embed src="<%= cl_image_path('conditions_generales_de_location.pdf') %>" type="application/pdf" width="100%" height="1200">
</div>
