<div class="container">
  <div class="row row-contact white-box">
    <h1>Nous contacter</h1>
    <div class="col-xs-12 col-sm-6 form-container">
      <%= render 'messages/form' %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="address-box">
        <h5>LOXAM BASTIA</h5>
        <p>ZI FURIANI</p> 
        <p>20200 BASTIA</p>
      </div>
      <div class="address-box">
        <h5>LOXAM AJACCIO</h5>
        <p>ROUTE DE MEZZAVIA</p>
        <p>20090 AJACCIO</p>
      </div>
      <a href="tel:+33495602364"><i class="fa fa-phone"></i> 04 95 60 23 64</a>
      <p>FAX: 04 95 60 21 89</p>
      <a href="mailto:contact@loxamcorse.com"><i class="fa fa-envelope"></i> contact@loxamcorse.com</a>
      <p><strong>Nos agences sont ouvertes du Lundi au Vendredi <br>De 7h00 à 12h00 et de 14h00 à 18h00</strong></p>
    </div>
    <div class="col-xs-12">
      <iframe 
        id="map" 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1466.9282785321818!2d9.43899234252736!3d42.66439503293484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d724f03e761651%3A0x7313181e36d7f804!2sLOXAM+Bastia!5e0!3m2!1sen!2sfr!4v1533137474502" 
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>
    <div class="col-xs-12">
      <iframe 
        id="map" 
        src="https://maps.google.com/maps?q=ROUTE%20DE%20MEZZAVIA%2020090%20AJACCIO&t=&z=13&ie=UTF8&iwloc=&output=embed"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
