<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p><strong>Formule de garantie dommages aux conditions suivantes :</strong></p>
      <p>10 % pour les matériels d’élévation de personnes, les groupes électrogènes, les véhicules utilitaires</p>
      <p>8 % pour tous les autres matériels de notre tarif. Le montant s’applique en jours calendaires. Quote-part de 15% restant à la charge du locataire.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= cl_image_tag "IMG_7032.jpg", height: '300' %>
    </div>
  </div>
</div>
