.loxam-btn {
  border: 1px solid $loxam-color;
  color: $loxam-color;
  padding: 5px 10px;
  border-radius: 2px;
  transition: all 0.3s;
  &:hover {
    background-color: $loxam-color;
    color: #fff;
    text-decoration: none;
  };
  &:focus {
    color: $loxam-color;
    text-decoration: none;
  }
}

.btn-create-product {
  width: 100%;
  margin: 20px 0;
}

.synchronization-btn {
  padding: 15px 20px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #e10c22;
  display: block;
  width: fit-content;
  margin: 40px auto;
}

.btn-favorite {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 28px;
  height: fit-content;
  color: #ccc;
  &:hover {
    color: #fad726;
  };
}

.btn-favorite-active {
  color: #fad726;
  font-size: 28px;
  &:hover {
    color: #ccc;
  }
}

.edit-btn {
  background-color: rgb(255, 177, 59);
  border-color: #fff;
  color: #fff;
  &:hover {
    background-color: rgba(255, 177, 59, 0.7);
  };
  &:focus {
    color: #fff;
  }
}

// Home page btn favorites and categories shwo
.row-les-plus-recherches,
.row-les-nouveautes,
.categories-page-container,
.container-mon-espace {
  .btn-favorite, .btn-favorite-active {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

// Product page
.product-title-container .popover {
  color: $gray;
}

