.col-item-card {
  padding: 10px;
}

.item-card {
  height: 400px;
  color: $font-color;
  padding: 15px;
  h3 {
    font-size: 14px;
    font-weight: bolder;
    color: $loxam-color;
    margin-top: 10px;
    background-color: $light-gray;
    padding: 12px;
    text-align: center;
  }
}

.item-card-image {
  height: 70%;
}

.item-card-image,.item-card-image div {
  background: no-repeat;
  background-size: contain;
  background-position: center;
}

.card-infos {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-price-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  p {
    margin: 0 auto;
    font-size: 14px;
  };
  a {
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s;
    &:hover {
      background-color: $loxam-color;
      color: #fff;
    }
  }
}

.price {
  color: $loxam-color;
  font-weight: bold;
}

/* Card for Dashboard */
.item-card-dashboard {
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .item-card-image {
    height: 70%;
    background: no-repeat;
    background-size: contain;
    background-position: center;
  };
  .card-infos {
    height: auto;
  };
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 5px 0;
    }
  }
}

/* Card products Dashboard */
.product-card-dashboard {
  height: 600px;
  .item-card-image {
    height: 35%;
    div {
      height: 100%;
    }
  }
}

/* Card promos Dashboard */
.promo-card-dashboard {
  height: 400px;
  .item-card-image {
    height: 45%;
    div {
      height: 100%;
    }
  };
  .card-infos-list {
    overflow-wrap: break-word;
  }
}
