.category-tag {
  border-radius: 2px;
  padding: 5px 10px;
  background-color: $loxam-color;
  color: #fff;
  margin: 5px;
  font-size: 14px;
  display: inline-block;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
  &:hover {
    text-decoration: none;
    background-color: #fff;
    color: $loxam-color;
  };
}

.tag-actif {
  background-color: #fff;
  color: $loxam-color;
}

.catgories-container {
  // text-align: center;
  margin-top: 10px;
}

.tags-catgories-container-small-screen {
  display: none;
  position: absolute;
  z-index: 9;
  top: 130px;
  left: 0;
  width: 70%;
  height: 100%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  ul {
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    overflow: scroll;
  };
  li {
    padding: 10px;
    cursor: pointer;
  };
  li:nth-child(2n+2) {
    background: $light-gray;
  };
  a {
    color: $font-color;
    &:hover {
      text-decoration: none;
      color: $font-color;
    };
  };
}

.category-tag-small-screen {
  color: $font-color;
  font-size: 14px;
}

#toggle-categories-arrow {
  display: none;
  position: fixed;
  z-index: 10;
  top: 90px;
  width: 100vw;
  text-align: center;
  background-color: $loxam-color;
  cursor: pointer;
  span {
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .tags-catgories-container {
    display: none;
  };
  #toggle-categories-arrow {
    display: block;
  }
}
