.promo-container {
  padding: 20px !important;
  h2 {
    margin-bottom: 35px !important;
  }
}

.promo-card-image {
  background-size: contain;
  background-repeat: no-repeat;
  img {
    width: 100%;
  }
}
