// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote-bs4";
@import "summernote-custom-theme.min";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

html, body {
  height: 100%;
}

.white-box {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 3px;
}

p, h1, h2, h3, h4, h5 {
  color: $font-color;
}

p {
  font-weight: lighter;
}

.loxam-name {
  font-weight: bolder;
  span:first-child {
    color: $loxam-color;
  };
  span:last-child {
    color: $font-color;
  }
}

.title-gray-background {
  color: #e10c22;
  background-color: #F4F4F4;
  font-size: 22px;
  text-align: center;
  margin: 0 0 70px 0;
  padding: 10px;
  border-radius: 2px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
