// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

html, body {
  height: 100%;
}

.container {
  padding: 0;
}


#scrollToTop {
  z-index: 99;
  color: $loxam-color;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  left: 15px;
  display: none;
  font-size: 50px;
  opacity: 0.8;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    bottom: 55px;
  }
}
